{% extends 'pqawV1/visitor_base.html' %}
{% load i18n static staticfiles %}

{% block head_content %}
<link rel="canonical" href="http://{{ request.get_host }}/about/"/>
<title>{% trans 'About ProbQA video game recommendation engine | The Best Games' %}</title>
<style>
.inline-link {
    color: #660000;
    -webkit-text-fill-color: #660000;
    text-decoration: none;
}
.inline-link:hover {
    color: red;
    -webkit-text-fill-color: red;
}
</style>
{% endblock head_content %}

{% block main_content %}
<div align="center">
    <img src="{% static 'pqawV1/SimpleRed.png' %}" alt="Logo" height="73"/>
    <h1 class="h1-font">{% trans 'ABOUT THE INTERACTIVE RECOMMENDATION ENGINE FOR BEST GAMES' %}</h1>
    <br/><br/>
    <div class="reading-large-font" id="aboutTextDiv" style="padding: 10px; text-align: left;">
        This website helps you to select the best next video game to play. It uses an interactive recommendation engine,
        called ProbQA (Probabilistic Question Asking system). In each step the engine lists the top recommendations for
        you given your answers to previous questions. The more questions you answer, the better should be the
        recommendations. However, if you want to try a different set of answers to the questions, click
        <a class="inline-link" href="{% url 'pqawV1:index' %}">"Start new quiz" on the main page</a>. To pick the best
        games for you the system takes into account both your individual preferences, as well as the top video games
        which the other users like the most. So you can look here for the best games tailored to your implicit gamer
        profile. This approach should be superior to just the simple suggestion of a similar game because you can figure
        out something novel that you will like nevertheless you have never played anything similar earlier. So whatever
        kind of user you are, it is easy to pick a game and with our site you will never more have doubts on what game
        to play next.
        <br/>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-format="fluid"
             data-ad-client="ca-pub-8880263229660439"
             data-ad-slot="2117605726"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <br/>
        In contrast to the previous search and recommendation engines, ProbQA can suggest the next game to play for a
        user even if the user doesn’t have any clear understanding or keywords to search for, cannot define his/her
        preferences, cannot name similar games, etc. Please, look at the whole list of video game suggestions, rather
        than just a few games on the top of the list, even if they have high probabilities. Many games have high prior
        probabilities, so when you don't answer many questions, they appear in the top because the engine lacks
        information. The question selected in each step is the best distinguishing question among the current
        highly-ranked games. So the system tries to split the games on record into more or less equal groups, each group
        corresponding to an answer to the current question.
        <br/>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-format="fluid"
             data-ad-client="ca-pub-8880263229660439"
             data-ad-slot="2117605726"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <br/>
        Please, note that this program in collaboration with 3rd-party programs collects the information about your
        activity on the website, and uses cookies. So if you don't want your activity to be recorded and shared without
        limitations, please, close this browser tab or window.
        <br/><br/>
    </div>
</div>
<div align="center">
    <a class="go-home-font" href="{% url 'pqawV1:index' %}">{% trans 'Back to quiz' %}</a>
</div>
<br/>
<script>
    document.getElementById("aboutTextDiv").style.maxWidth = String(800 * dpi_x / 96) + "px";
</script>
{% endblock %}
