{% extends 'pqawV1/visitor_base.html' %}
{% load i18n static staticfiles %}

{% block head_content %}
<link rel="canonical" href="http://probqa.com/about/"/>
<title>{% trans 'About ProbQA video game recommendation engine' %}</title>
<style>
.go-home-font {
    font-family: 'SairaExtraCondensed-Regular';
    font-size: 36px;
    line-height: 36px;
    color: #660000;
    -webkit-text-fill-color: #660000;
    text-decoration: none;
}
.go-home-font:hover {
    color: red;
    -webkit-text-fill-color: red;
}
</style>
{% endblock head_content %}

{% block main_content %}
<div align="center">
    <img src="{% static 'pqawV1/SimpleRed.png' %}" alt="Logo" height="73"/>
    <h1 class="h1-font">{% trans 'ABOUT THE INTERACTIVE RECOMMENDATION ENGINE FOR GAMES' %}</h1>
    <br/><br/>
    <div class="reading-large-font" id="aboutTextDiv" style="padding: 10px; text-align: left;">
        This website helps you to select the next video game to play. It uses an interactive recommendation engine,
        called ProbQA. In each step the engine lists the top recommendations for you given your answers to previous
        questions. The more questions you answer, the better should be the recommendations. However, if you want to
        try something different, click "Start new quiz". <br/><br/>
        In contrast to the previous search and recommendation engines, ProbQA can suggest the next game to play for a
        user even if the user doesn’t have any clear understanding or keywords to search for, cannot define his/her
        preferences, cannot name similar games, etc. <br/><br/>
        Please, note that this program in collaboration with 3rd-party programs collects the information about your
        activity on the website, and uses cookies. So if you don't want your activity to be recorded and shared without
        limitations, please, close this browser tab or window. <br/><br/>
    </div>
</div>
<div align="center">
    <a class="go-home-font" href="{% url 'pqawV1:index' %}">{% trans 'Back to quiz' %}</a>
</div>
<br/>
<script>
    document.getElementById("aboutTextDiv").style.maxWidth = String(800 * dpi_x / 96) + "px";
    setFontSizeForClass('go-home-font', 36);
</script>
{% endblock %}
