{% load i18n static staticfiles %}
<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'pqawV1/style.css' %}"/>
<link rel="shortcut icon" type="image/png" href="{% static 'pqawV1/favicon.ico' %}"/>
<title>{% trans 'Find Next Game' %}</title>
<script type="text/javascript">
    function startNewQuz() {
        document.getElementsByName('sel_action')[0].value = 'StartNewQuiz';
        document.getElementById('quiz_form').submit();
        return false;
    }
    function recordAnswer(optionPos) {
        document.getElementsByName('sel_action')[0].value = 'RecordAnswer';
        document.getElementsByName('sel_param0')[0].value = String(optionPos);
        document.getElementById('quiz_form').submit();
        return false;
    }
    function recordTarget(targetId, openUrl) {
        document.getElementsByName('sel_action')[0].value = 'RecordTarget';
        document.getElementsByName('sel_param0')[0].value = String(targetId);
        {% if is_teacher %}
            var r = confirm("Record target? " + openUrl);
            if(r != true) {
                return false;
            }
        {% else %}
            window.open(openUrl, '_blank');
        {% endif %}
        document.getElementById('quiz_form').submit();
        return true;
    }
</script>

</head>
<body>

<div class="h1-font-size">{% trans 'Your next game to play' %}</div>
<form method="POST" action="{% url 'pqawV1:index' %}" id="quiz_form">
    {% csrf_token %}
    <input type="hidden" name="sel_action"/>
    <input type="hidden" name="sel_param0"/>
    {# For several quizzes open in several tabs #}
    <input type="hidden" name="cur_quiz_id" value="{{ cur_quiz_id }}"/>
    <input type="hidden" name="cur_question_id" value="{{ cur_question_id }}"/>

    <div id="head_actions">
        <a href="javascript:{}" onclick="return startNewQuz()" class="action-font-size">
            {% trans 'Start new quiz' %}
        </a>
    </div>
    <hr/>
    <div id="cur_question">
        {% if question %}
            <div class="guideline-font-size">{{ question.message }}</div>
            <ul>
                {% for answer in answers %}
                    <li>
                        <a href="javascript:{}" onclick="return recordAnswer({{ answer.option_pos }})"
                            class="action-font-size">
                            {{ answer.message }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="guideline-font-size">{% trans 'We have no more questions to ask.' %}</div>
        {% endif %}
    </div>
    <hr/>
    <div id="top_targets">
        <div class="guideline-font-size">{% trans 'Most probably you are looking for:' %}</div>
        <table id="top_targets_tbl">
            <thead>
                <tr>
                    <th class="action-font-size">{% trans 'Game' %}&nbsp;</th>
                    <th class="action-font-size">&nbsp;{% trans 'Prob.%' %}</th>
                </tr>
            </thead>
            {% for target in targets %}
            <tr>
                <td>
                    <a href="javascript:{}"
                       onclick="return recordTarget({{ target.perm_id }}, &quot;{{ target.link }}&quot;)"
                        class="action-font-size">
                        {{ target.title }}
                    </a>
                    &nbsp;
                </td>
                <td class="action-font-size">
                    &nbsp;
                    {# Must be a formatted string #}
                    {{ target.probability }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% if is_teacher %}
        <hr/><br/>
        <div id="teacher_actions">
            <input type="text" name="teaching_target_filter" class="action-font-size" />
            <input type="submit" class="action-font-size" value="{% trans 'Filter targets' %}" />
        </div>
    {% endif %}
</form>
{# Taken from: https://stackoverflow.com/questions/279749/detecting-the-system-dpi-ppi-from-js-css #}
<div id='testdiv' style='height: 1in; left: -100%; position: absolute; top: -100%; width: 1in;'></div>
<script type='text/javascript'>
  var devicePixelRatio = window.devicePixelRatio || 1;
  dpi_x = document.getElementById('testdiv').offsetWidth * devicePixelRatio;
  dpi_y = document.getElementById('testdiv').offsetHeight * devicePixelRatio;

  function setFontSizeForClass(className, fontSize) {
      var elms = document.getElementsByClassName(className);
      for(var i=0; i<elms.length; i++) {
          elms[i].style.fontSize = String(fontSize * dpi_y / 96) + "px";
      }
  }

  setFontSizeForClass('h1-font-size', 30);
  setFontSizeForClass('action-font-size', 20);
  setFontSizeForClass('guideline-font-size', 25);
</script>

</body>
</html>
