{% extends 'pqawV1/visitor_base.html' %}
{% load i18n static staticfiles %}

{% block head_content %}
<title>{% trans 'ProbQA game recommendation engine' %}</title>
<script type="text/javascript">
    function startNewQuz() {
        document.getElementsByName('sel_action')[0].value = 'StartNewQuiz';
        document.getElementById('quiz_form').submit();
        return false;
    }
    function recordAnswer(optionPos) {
        document.getElementsByName('sel_action')[0].value = 'RecordAnswer';
        document.getElementsByName('sel_param0')[0].value = String(optionPos);
        document.getElementById('quiz_form').submit();
        return false;
    }
    function recordTarget(targetId, openUrl) {
        document.getElementsByName('sel_action')[0].value = 'RecordTarget';
        document.getElementsByName('sel_param0')[0].value = String(targetId);
        {% if is_teacher %}
            var r = confirm("Record target? " + openUrl);
            if(r != true) {
                return false;
            }
        {% else %}
            window.open(openUrl, '_blank');
        {% endif %}
        document.getElementById('quiz_form').submit();
        return true;
    }
</script>
{% endblock head_content %}

{% block main_content %}
<div class="h1-font-size" align="center">{% trans 'Your next game to play' %}</div>
<form method="POST" action="{% url 'pqawV1:index' %}" id="quiz_form">
    {% csrf_token %}
    <input type="hidden" name="sel_action"/>
    <input type="hidden" name="sel_param0"/>
    {# For several quizzes open in several tabs #}
    <input type="hidden" name="cur_quiz_id" value="{{ cur_quiz_id }}"/>
    <input type="hidden" name="cur_question_id" value="{{ cur_question_id }}"/>

    <div id="head_actions" align="center">
        <a href="javascript:{}" onclick="return startNewQuz()" class="action-font-size">
            {% trans 'Start new quiz' %}
        </a>
        <span class="action-font-size">&nbsp;&nbsp;</span>
        <a href="{% url 'pqawV1:about' %}" class="action-font-size">About</a>
    </div>
    <hr/>
    <div id="cur_question" align="center">
        {% if question %}
            <div class="guideline-font-size">{{ question.message }}</div>
            {% for answer in answers %}
                <span class="action-font-size" style="white-space: nowrap;">
                    <a href="javascript:{}" onclick="return recordAnswer({{ answer.option_pos }})"
                    >{{ answer.message }}</a>
                &nbsp;
                </span>

            {% endfor %}
        {% else %}
            <div class="guideline-font-size">{% trans 'We have no more questions to ask.' %}</div>
        {% endif %}
    </div>
    <br/>
    <div id="top_targets" align="center">
        <div class="guideline-font-size">{% trans 'Most probably you want:' %}</div>
        <br/>
        {% for target in targets %}
        <span style="display: inline-block">
            <div class="action-font-size">
                <a href="javascript:{}"
                   onclick="return recordTarget({{ target.perm_id }}, &quot;{{ target.link }}&quot;)"
                    title="{{ target.description }}">{{ target.title }}</a>
                &ndash;
                {# Must be a formatted string #}
                {{ target.probability }}%
            </div>
            <div>
                <img class="game-screenshot" src="{{ target.thumbnail_url }}"/>
            </div>
            <br/>
        </span>
        {% endfor %}
    </div>
    {% if is_teacher %}
        <br/>
        <div id="teacher_actions" align="center">
            <input type="text" name="teaching_target_filter" class="action-font-size" />
            <input type="submit" class="action-font-size" value="{% trans 'Filter targets' %}" />
        </div>
    {% endif %}
</form>
<script type='text/javascript'>
    var elms = document.getElementsByClassName("game-screenshot");
      for(var i=0; i<elms.length; i++) {
          elms[i].width=String(Math.min(Math.round(640 * dpi_x / 96), document.documentElement.clientWidth));
      }
</script>
{% endblock main_content %}
