{% extends 'pqawV1/visitor_base.html' %}
{% load i18n static staticfiles %}

{% block head_content %}
<title>{% trans 'ProbQA game recommendation engine' %}</title>
<style>
.ul-tiles {
    font-size: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.li-tile {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.screenshot-container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    background-image: url("{% static 'pqawV1/FrameCellNoTransparent.gif'%}");
}
</style>
<script type="text/javascript">
    function submitMaintainingScrollPos() {
        document.getElementsByName('scroll_pos')[0].value = String(window.pageYOffset);
        document.getElementById('quiz_form').submit();
    }
    function startNewQuz() {
        document.getElementsByName('sel_action')[0].value = 'StartNewQuiz';
        submitMaintainingScrollPos();
        return false;
    }
    function recordAnswer(optionPos) {
        document.getElementsByName('sel_action')[0].value = 'RecordAnswer';
        document.getElementsByName('sel_param0')[0].value = String(optionPos);
        submitMaintainingScrollPos();
        return false;
    }
    function recordTarget(targetId, openUrl) {
        document.getElementsByName('sel_action')[0].value = 'RecordTarget';
        document.getElementsByName('sel_param0')[0].value = String(targetId);
        {% if is_teacher %}
            var r = confirm("Record target? " + openUrl);
            if(r != true) {
                return false;
            }
        {% else %}
            window.open(openUrl, '_blank');
        {% endif %}
        submitMaintainingScrollPos();
        return true;
    }
</script>
{% endblock head_content %}

{% block main_content %}
<div class="h1-font-size" align="center">{% trans 'Your next game to play' %}</div>
<form method="POST" action="{% url 'pqawV1:index' %}" id="quiz_form">
    {% csrf_token %}
    <input type="hidden" name="sel_action"/>
    <input type="hidden" name="sel_param0"/>
    {# For several quizzes open in several tabs #}
    <input type="hidden" name="cur_quiz_id" value="{{ cur_quiz_id }}"/>
    <input type="hidden" name="cur_question_id" value="{{ cur_question_id }}"/>
    <input type="hidden" name="scroll_pos" value="{{ scroll_pos }}"/>

    <div id="head_actions" align="center">
        <a href="javascript:{}" onclick="return startNewQuz()" class="action-font-size">
            {% trans 'Start new quiz' %}
        </a>
        <span class="action-font-size">&nbsp;&nbsp;</span>
        <a href="{% url 'pqawV1:about' %}" class="action-font-size">About</a>
    </div>
    <hr/>
    <div id="cur_question" align="center">
        {% if question %}
            <div class="guideline-font-size">{{ question.message }}</div>
            {% for answer in answers %}
                <span class="action-font-size" style="white-space: nowrap;">
                    <a href="javascript:{}" onclick="return recordAnswer({{ answer.option_pos }})"
                    >{{ answer.message }}</a>
                &nbsp;
                </span>

            {% endfor %}
        {% else %}
            <div class="guideline-font-size">{% trans 'We have no more questions to ask.' %}</div>
        {% endif %}
    </div>
    <br/>
    <div id="top_targets" align="center">
        <div class="guideline-font-size">{% trans 'Most probably you want:' %}</div>
        <br/>
        <ul class="ul-tiles">
            {% for target in targets %}
            <li class="li-tile">
                <div style="height: 100%; display: flex; flex-flow: column;">
                    <div class="action-font-size" style="flex: 0 1 auto;">
                        <a href="javascript:{}"
                           onclick="return recordTarget({{ target.perm_id }}, &quot;{{ target.link }}&quot;)"
                            title="{{ target.description }}">{{ target.title }}</a>
                        &ndash;
                        {# Must be a formatted string #}
                        {{ target.probability }}%
                    </div>
                    <div class="screenshot-container">
                        <img class="game-screenshot" src="{{ target.thumbnail_url }}"/>
                    </div>
                    <div style="flex: 0 1 auto;">
                        <br/>
                    </div>
                </div>
            </li>
            <li class="li-tile">
                &nbsp;
            </li>
            {% endfor %}
        </ul>

    </div>
    {% if is_teacher %}
        <br/>
        <div id="teacher_actions" align="center">
            <input type="text" name="teaching_target_filter" class="action-font-size" />
            <input type="submit" class="action-font-size" value="{% trans 'Filter targets' %}" />
        </div>
    {% endif %}
</form>
<script type='text/javascript'>
    var elms = document.getElementsByClassName("game-screenshot");
    for(var i=0; i<elms.length; i++) {
      elms[i].width=String(Math.min(Math.round(640 * dpi_x / 96), document.documentElement.clientWidth));
    }
</script>
{% endblock main_content %}
