{% load i18n static staticfiles %}
<!DOCTYPE html>
<html>
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133713748-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-133713748-1');
</script>

<meta charset="UTF-8">
<meta name="description" content="Interactive recommendation engine to find the next game to play">
<meta name="keywords" content="gaming,recommendation,interactive,engine,top games,best games,ProbQA,rating,find game,suggest game,select game">
<link rel="shortcut icon" type="image/png" href="{% static 'pqawV1/favicon.ico' %}"/>
{% block head_content %}{% endblock head_content %}

</head>
<body>

{# Taken from: https://stackoverflow.com/questions/279749/detecting-the-system-dpi-ppi-from-js-css #}
<div id='dpi_detector' style='height: 1in; left: -100%; position: absolute; top: -100%; width: 1in;'></div>
<script type='text/javascript'>
  var devicePixelRatio = window.devicePixelRatio || 1;
  dpi_x = document.getElementById('dpi_detector').offsetWidth * devicePixelRatio;
  dpi_y = document.getElementById('dpi_detector').offsetHeight * devicePixelRatio;

  function setFontSizeForClass(className, fontSize) {
      var elms = document.getElementsByClassName(className);
      for(var i=0; i<elms.length; i++) {
          elms[i].style.fontSize = String(fontSize * dpi_y / 96) + "px";
      }
  }
</script>

{% block main_content %}{% endblock main_content %}

<hr>
<div class="reading-font-size" align="center">
    {% trans 'If you want to ' %}
    <a href="https://www.surveymonkey.com/r/SMJ2ZRZ">{% trans 'add a game or give feedback' %}</a>
    {% trans ', please, take that survey.' %}
</div>
<div class="reading-font-size" align="center">
    {% trans 'Powered by' %}
    <a href="https://github.com/srogatch/ProbQA">{% trans 'Probabilistic Question Asking system' %}</a>
</div>

<script type='text/javascript'>
    setFontSizeForClass('h1-font-size', 30);
    setFontSizeForClass('action-font-size', 20);
    setFontSizeForClass('guideline-font-size', 25);
    setFontSizeForClass('reading-font-size', 18);
</script>

</body>
</html>
